.grid {
    display: inline-block;
    margin: 10px auto;
}

.grid-row {
    display: flex;
}

.grid-cell {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.grid-cell.dark {
    background-color: black;
}